<!-- <h2>confirmation page</h2> -->

<div class="confirmation-container confirmation-items ">
        <h3 class="confirmation-header confirmation-item" >Success! 🎉</h3>
        <p class="confirmation-item" > Thank you, <strong>{{userName}}</strong></p>
        <p class="confirmation-item" > Your <strong>{{totalAmmount | currency:'USD'}} </strong>  order is confirmed </p>
        <p class="confirmation-item" > Please allow 1-3 bussiness day(s) for shipping</p>
        <a class="btn btn-primary confirmation-item"  routerLink="/">Back to product list</a>
</div>
